%%-*- mode: erlang -*-
%% ex: ft=erlang

#{
tns => <<"(DESCRIPTION=(ADDRESS_LIST=(ADDRESS="
         "(PROTOCOL=tcp)(HOST=XXX.XXX.XXX.XXX)(PORT=0)))"
         "(CONNECT_DATA=(SERVICE_NAME=XE)))">>,
user => <<"scott">>,
password => <<"tiger">>,
logging => true,
lang => "GERMAN_SWITZERLAND.AL32UTF8"
}.
