.eunit
deps
*.o
*.d
*.log
*.beam
*.plt
erl_crash.dump
priv
*.exe
*.so
*.dll
.rebar
.rebar3
_*
.erlang.cookie
_build
rebar.lock
rebar3.crashdump

# windows build temp files
*.pdb

# for vim users
*.swp
oci_scratchpad/console
