.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
priv
.rebar
.rebar3
_*
.erlang.cookie
_build
rebar.lock
rebar3.crashdump
package-lock.json

# windows build temp files
*.pdb

# for vim users
*.swp
