.eunit
deps
*.o
*.d
*.log
*.beam
*.plt
erl_crash.dump
*.exe
*.so
*.dll
.rebar
.rebar3
_*
.erlang.cookie
_build
rebar.lock
rebar3.crashdump

# windows build temp files
*.pdb

# for vim users
*.swp
c_src/oci_api/select
c_src/oci_api/session

c_src/odpi
priv/
ebin/
\.*/
*.gc*
*.info
cov_html/
