{cover_enabled, true}.

{deps_error_on_conflict, true}.

{erl_opts, [debug_info]}.

{eunit_opts,
 [{skip_deps, true},
  verbose
 ]}.

{plugins,
 [{pc, "1.6.0",
   {git, "https://github.com/K2InformaticsGmbH/port_compiler.git",
    {branch, "master"}}}
 ]}.

{port_specs,
 [{"linux|darwin", "priv/erloci.so", ["c_src/erloci.c"]},
  {"win32", "priv/erloci.dll", ["c_src/erloci.c"]}
 ]}.

{port_env,
 [{"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
  {"win32", "EXE_CFLAGS", "$ERL_CFLAGS"},
  {"win32", "DRV_LINK_CXX_TEMPLATE", "$DRV_LINK_TEMPLATE"},
  {"win32", "EXE_LINK_CXX_TEMPLATE", "$EXE_LINK_TEMPLATE"},
  {"win32", "CFLAGS",
    "$CFLAGS /Zi /nologo /W3 /WX- /O2 /Ob2 /Ot /GL /D _CRT_SECURE_NO_WARNINGS "
    "/Gm- /EHsc /GS /fp:fast /Gd /I $INSTANT_CLIENT_LIB_PATH/sdk/include"},
  {"win32", "LDFLAGS",
    "$LDFLAGS /NOLOGO Ws2_32.lib /MANIFEST:NO /OPT:REF /OPT:ICF /LTCG oci.lib "
    "/TLBID:1 /DYNAMICBASE /NXCOMPAT /MACHINE:X64 "
    "/LIBPATH:$INSTANT_CLIENT_LIB_PATH/sdk/lib/msvc"},

  {"linux|darwin|solaris", "LDFLAGS",
    "$LDFLAGS -L ${INSTANT_CLIENT_LIB_PATH} -locci -lons -lclntsh"},
  {"linux|darwin|solaris", "CFLAGS",
    "$CFLAGS -O3 -finline-functions -Wall -Wmissing-prototypes -Werror "
    "-I ${INSTANT_CLIENT_INCLUDE_PATH}"}
 ]}.

{post_hooks,
 [{"(linux|darwin|solaris)", clean, "rm -f priv/* c_src/*.o c_src/*.d"},
  {"(linux|darwin|solaris)", compile, "c_src/post_compile.sh"},
  {"win32", clean, "del /F /Q priv\\* c_src\\*.o c_src\\*.d"},
  {"win32", compile, "del /F /Q c_src\\*.o c_src\\*.d priv\\*.exp priv\\*.lib"}
 ]}.

{provider_hooks,
 [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
 ]}.

{profiles, [{console, [
  {port_env, [{"linux|darwin", "LD_LIBRARY_PATH", "$INSTANT_CLIENT_LIB_PATH"}]},
  {port_specs,
    [{"c_src/oci_api/session", ["c_src/oci_api/common_lib.c", "c_src/oci_api/session.c"]},
     {"c_src/oci_api/select",  ["c_src/oci_api/common_lib.c", "c_src/oci_api/select.c"]},
     {"c_src/oci_api/date",    ["c_src/oci_api/common_lib.c", "c_src/oci_api/date.c"]},
     {"c_src/oci_api/table",    ["c_src/oci_api/common_lib.c", "c_src/oci_api/table.c"]}
    ]}
]}]}.
