{cover_enabled, true}.

{deps_error_on_conflict, true}.

{erl_opts, [debug_info]}.

{eunit_opts, [{skip_deps, true}, verbose]}.

{pre_hooks,
  [{"(win32)", compile,
   "nmake -F c_src/Makefile.win32 all EMBEDED="
%   "nmake -F c_src/Makefile.win32 all"
  }]}.

{post_hooks,
  [{"(win32)", clean, "nmake -F c_src/Makefile.win32 clean"}]}.

{profiles, [
    {test, [
        {dist_node, [{setcookie, 'testcookie'}, {sname, 'testnode'}]}
    ]}
]}.
