{cover_enabled, true}.

{deps_error_on_conflict, true}.

{erl_opts, [debug_info]}.

{eunit_opts, [{skip_deps, true}, verbose]}.

{pre_hooks,
  [{"(win32)", compile, "nmake -F c_src/Makefile.win32 all EMBEDED="},
   {"(linux|darwin)",  compile, "make -f c_src/Makefile"}
  ]}.

{post_hooks,
  [{"(win32)", clean, "nmake -F c_src/Makefile.win32 clean"},
   {"(linux|darwin)",  clean, "make -f c_src/Makefile clean"}
 ]}.

{profiles, [
    {test, [
        {dist_node, [{setcookie, 'testcookie'}, {sname, 'testnode'}]}
    ]}
]}.
